@import "tailwindcss";

:root {
  --primary: #db8997;
  --secondary: #b7bd8f;
  --bg: #fef2fe;
  --section: #e4d6cd;
  --gradient-primary: conic-gradient(from 180deg, #4f46e5, #eef2ff, #4f46e5);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-section: var(--section);
  --color-bg: var(--bg);
  --color-gradient: var(--gradient-primary);
}
.bg-gradient {
  background: var(--gradient-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
